# NBA Stats

### With March Madness coming up, it's a great time to look at the stats from this season to build your team.

### Download the data set from : http://www.dougstats.com/16-17RD.txt

### A key aspect of analyzing data is understanding what all of the columns mean.
### Go to http://www.dougstats.com/ExelNotes.html to see the definitions for each column name.

#### Start by importing the necessary libaries and reading the text file into memory. Note: You'll need to use a different separator. Search in google for the documentation on how to do so.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

href = "http://www.dougstats.com/16-17RD.txt"
df = pd.read_fwf(href)
df.head(3)

,Player,Team,PS,GP,Min,FGM,FGA,3M,3A,FTM,...,TO,BK,PF,DQ,PTS,TC,EJ,FF,Sta,+/-
0,"abrines,alex",okl,SG,48,707,90,226,62,162,38,...,23,5,79,0,280,0,0,0,2,-26
1,"acy,quincy",bro,SF,18,183,30,65,14,31,17,...,7,6,25,0,91,0,0,0,0,-35
2,"adams,steven",okl,C,57,1754,289,505,0,2,122,...,109,63,134,0,700,3,0,0,57,164

#### What position has the most points? Bonus: Is this statistical significant difference?

In [31]:
mn = df.groupby('PS')['PTS'].mean()
st = df.groupby('PS')['PTS'].std()
for nm, elm in zip(mn, st):
    print(nm, elm)

6.0 8.48528137424
387.428571429 324.299244526
350.942857143 326.755260095
417.505154639 412.860751344
439.344827586 377.436087305
425.6 371.060641944

#### What player has the most number of rebounds?

In [32]:
df.sort_values('TR', ascending=False)[['Player', 'TR']]

               Player   TR
231    jordan,deandre  807
112    drummond,andre  803
441  whiteside,hassan  779
149       gobert,rudy  757
415  towns,karl-antho  729
197     howard,dwight  693
97      davis,anthony  671
153     gortat,marcin  643
438  westbrook,russel  630
88   cousins,demarcus  623
428    vucevic,nikola  574
411  thompson,tristan  567
421  valanciunas,jona  562
76     chandler,tyson  538
263        love,kevin  512
166      harden,james  498
15   antetokounmpo,gi  496
116      durant,kevin  485
108      dieng,gorgui  477
225      jokic,nikola  464
345     plumlee,mason  461
53      booker,trevor  458
2        adams,steven  457
158    green,draymond  453
236  kidd-gilchrist,m  446
295      millsap,paul  439
358     randolph,zach  431
45    biyombo,bismack  427
357     randle,julius  426
212      james,lebron  425
..                ...  ...
456      wright,delon    6
329     onuaku,arinze    6
399     stone,diamond    6
66      caboclo,bruno    6
333  papagiannis,geor    5
356    randle,chasson    5
59        brown,bobby    5
227     jones,derrick    5
209  jackson,demetriu    4
436     weber,briante    4
199      huestis,josh    4
330    onuaku,chinanu    3
143   gbinije,michael    3
413        tobey,mike    3
173    harrison,aaron    3
126     farmar,jordan    3
320       novak,steve    3
87         cook,quinn    2
425   vasquez,greivis    2
398    stokes,jarnell    2
219     johnson,brice    2
196      house,danuel    1
402    tavares,walter    1
312         neal,gary    1
215      jenkins,john    1
201       hunter,r.j.    1
150    goodwin,archie    0
265        lucas,john    0
353      price,ronnie    0
208      jack,jarrett    0

[466 rows x 2 columns]

#### What team has the best three point conversion rate? ( made / attempts)

In [38]:
df['3E'] = df['3M'] / df['3A']

In [42]:
three_point_efficiency = df.groupby('Team').mean()[['3M', '3A']]
three_point_efficiency['3E'] = three_point_efficiency['3M'] / three_point_efficiency['3A']
three_point_efficiency.sort_values('3E')

             3M          3A        3E
Team
chi   25.266667   79.066667  0.319562
okl   34.384615  106.769231  0.322046
na    14.500000   44.500000  0.325843
orl   32.937500  100.375000  0.328144
lal   28.875000   86.312500  0.334540
bro   31.588235   94.294118  0.334997
atl   32.444444   96.777778  0.335247
det   30.800000   91.200000  0.337719
phi   38.923077  114.538462  0.339825
pho   28.200000   81.800000  0.344743
min   33.142857   94.642857  0.350189
nor   27.687500   78.937500  0.350752
mem   34.437500   97.875000  0.351852
cha   34.647059   98.294118  0.352484
okc   29.000000   82.000000  0.353659
nyk   36.733333  102.000000  0.360131
dal   33.388889   92.055556  0.362704
por   42.285714  116.357143  0.363413
mia   39.714286  109.000000  0.364351
uta   37.466667  102.666667  0.364935
sac   38.529412  105.352941  0.365717
bos   48.733333  132.866667  0.366784
tor   36.125000   98.312500  0.367451
den   36.117647   97.823529  0.369212
hou   75.153846  203.076923  0.370076
mil   35.214286   95.142857  0.370120
was   37.937500  102.500000  0.370122
ind   33.533333   90.200000  0.371766
lac   40.866667  108.266667  0.377463
gsw   44.812500  116.000000  0.386315
cle   54.333333  139.933333  0.388280
san   32.750000   81.750000  0.400612

#### What team has the most number of points?

In [47]:
print(df.groupby('Team').sum()[['PTS']].sort_values('PTS', ascending=False))

       PTS
Team
hou   7715
tor   7182
gsw   6975
was   6931
cle   6791
den   6762
atl   6706
nor   6532
bos   6477
lac   6378
nyk   6351
ind   6328
min   6285
cha   6260
san   6200
mem   6045
mil   6020
por   5987
det   5983
mia   5946
uta   5923
pho   5912
okl   5847
dal   5738
orl   5726
sac   5709
lal   5472
chi   5373
bro   5366
phi   5100
okc   1114
na     256

#### Create your own custom equation to rank all the team's performance. Include at least three metrics